/* Reset básico para padronizar entre navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}


h1 {
  font-size: 2.5em;
  color: #58a6ff;
  margin: 0 auto; /* Centraliza o título horizontalmente */
}


.timer-display {
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timer-display p {
  font-size: 2em; /* Tamanho maior para o tempo de jogo */
  color: #e6b800; /* Cor destacada para o tempo de jogo */
}

.buttons button {
  background-color: #282828;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #3e3e3e;
}

.roshan-timer p {
  background-color: #222;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

#botaoSom {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#botaoSom .fa-volume-xmark,
#botaoSom .fa-volume-high {
  color: #fff;
  font-size: 1.5em;
}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 600px) {
  .buttons button, .roshan-timer p {
      width: 100%;
      box-sizing: border-box;
  }
}
